#color-palette {
  height: 60px;
  width: 250px;
  margin-bottom: 10px;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
}

#pixel-board {
  width: 210px;
  height: 210px;
  line-height: 0%;
}

.pixel {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#clear-board {
  margin-bottom: 15px;
  background-color: rgb(240, 248, 255);
  height: 30px;
  width: 80px;
  font-weight: bold;
  border-radius: 10px;
  
}

#clear-board:hover{
  background-color: rgb(0, 138, 138);
  color: rgb(236, 241, 245);
}

#clear-board:active{
  background-color: rgb(37, 78, 78);
  color: rgb(236, 241, 245);
}

main {
  margin-top: 90px;
}

section { 
  margin: auto auto;
  text-align: center;
}

body {
  background-image: url('https://images.unsplash.com/photo-1528557692780-8e7be39eafab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
}

h1 {
 font-size: 40px;
 color: rgb(211, 211, 211);
}
