#color-palette {
  margin-top: 15px;
  height: 60px;
  width: 250px;
  margin-bottom: 10px;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.pixel {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#pixel-board {
  width: max-content;
  height: fit-content;
  margin: 15px auto;
  line-height: 0%;
}

#board-size {
  width: 50px;
}


#clear-board , #generate-board {
  margin-bottom: 15px;
  background-color: rgb(240, 248, 255);
  height: 30px;
  width: 80px;
  font-weight: bold;
  border-radius: 10px;
  
}

#clear-board:hover {
  background-color: rgb(0, 138, 138);
  color: rgb(236, 241, 245);
}

#clear-board:active {
  background-color: rgb(37, 78, 78);
  color: rgb(236, 241, 245);
}

label, #error {
  background-color: rgb(67, 67, 148);
  border-radius: 20%;
  font-weight: 900;
  color: aliceblue;
  margin: 0 auto;
  width: fit-content;
}


main {
  margin-top: 90px;
}

section { 
  margin: auto auto;
  text-align: center;
}

body {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01073865290819.5d61d475f0072.jpg');
  background-size: cover;
}

h1 {
  background-color: rgb(67, 67, 148);
  border-radius: 18%;
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin: auto;
  opacity: 85%;
  width: max-content;
}

ul {
  list-style-type: none;
}